#viewMatch {
    width: 100%;
    height: 100%;
}

/* The only rule that matters */

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.profile-box {
    color: white;
    margin-left: 10px;
    width: 650px;
    height: 650px;
    font-size: 36px;
    background-color: #373d42;
    opacity: 0.9;
    overflow: auto;
}

.profile-box {
    margin-left: 110px;
}

.viewMatchContainer {
    position: absolute;
    width: 100%;
    margin-top: -690px;
}

.matchBTN {
    margin-top: 90%;
    margin-left: 10px;
    align-content: center;
    width: 100px;
}

.homeList {
    color: black;
    font-size: 16px;
}

.homeListItems {
    width: 600px;
    margin-left: 5%;
    color: white;
    text-align: left;
}

.viewMatchHeaders {
    text-align: center;
    margin-bottom: 20px;
}

.buyer-box {
    color: white;
    margin-left: 10px;
    width: 650px;
    height: 650px;
    font-size: 16px;
    line-height: 0.5;
    background-color: #373d42;
    opacity: 0.9;
    overflow: auto;
}

.buyer-match {
    color: white;
    margin-left: 6%;
    width: 575px;
    text-align: left;
    border: none;
}

::-webkit-scrollbar { 
    display: none; 
}